extends layout
block scripts
	script(src="/socket.io/socket.io.js")
	link(rel='stylesheet', href='/stylesheets/admin.css')
	script(src="/javascripts/jquery.md5.js")
	script(src="/javascripts/admin.js")
block content
	h1= title
	p #{title} 管理界面 
	div#main
		p#adminName 管理员
		div#shutdown.btn.btn-danger 停止服务器
		div#monitor
	div.clear
	