doctype html
html
	head
	title= title
	link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
	link(rel='stylesheet', href='/stylesheets/style.css')
	link(rel='stylesheet', href='/stylesheets/wtalert.css')
	script(src="/javascripts/jquery.js")
	script(src="/javascripts/wtalert.js")
	script(src="/javascripts/bootstrap.min.js")
	
	block scripts
		script(src='/javascripts/jquery.js')
	body
	block content
	block footer
		.clear
		#footer
			p Adivon & vera.J