doctype html
html
	head
	title= title
	link(rel='stylesheet', href='/stylesheets/style.css')
	block scripts
		script(src='/javascripts/jquery.js')
	body
	block content
	block footer
		.clear
		#footer
			p Adivon