extends layout
block scripts
	link(rel='stylesheet', href='/stylesheets/jquery.mCustomScrollbar.css')
	link(rel='stylesheet', href='/stylesheets/main.css')
	
	script(src="/javascripts/jquery.js")
	script(src="/socket.io/socket.io.js")
	script(src="/javascripts/jquery.md5.js")
	script(src="/javascripts/utils.js")
	script(src="/javascripts/common.js")
	script(src="/javascripts/map.js")
	script(src="/javascripts/mouse.js")
	script(src="/javascripts/render.js")
	script(src="/javascripts/game.js")
	script(src="/javascripts/main.js")
	script(src="/javascripts/event.js")
	script(src="/javascripts/record.js")
	script(src="/javascripts/jquery.mCustomScrollbar.concat.min.js")
	script var uid = "#{uid}";
block content
	.gameLayer#gameScreen
		
	.gameLayer#loadingScreen
		#loadingMessage
		#info