#main{
	float:left;
	width:75%;
	height:100%;
	margin-left:5%
}
#monitor{
	float:left;
	width:90%;
	height:400px;
	background:#000;
	padding:20px;
	color:#00ff00;
	overflow:auto;
}
.clear{
	clear:both;
}