body {
	font-family: "微软雅黑",'Arial','Tahoma','Verdana','helvetica','microsoft yahei',"SimHei","黑体",'sans-serif';
	color: #aaa;
	font-size: 100%;
	margin: auto;
	height:100%;
	letter-spacing: .08em;
}

a {
  color: #00B7FF;
  cursor:pointer;
}
.pannnel{
	width:250px;
	height:100px;
}
#register{
 display:none;;
}
.clear{
	clear:both;
}
#footer{
	position:absolute;
	bottom:0;
	height:50px;
	width:100%;
}
#footer p{
	width:100%;
	text-align:center;
}